
*{
    background-color:rgb(52, 110, 235);
    color: black;
    
}
.botoes img{
	width: 200px;
	height: 150px;
}
h1{
	font-size:50px;
	color: orange;
}

.botoes{
    color: orange;
    font-size: 50px;
	text-align: center;   
}
.footer{
    bottom: 0;
    align-content: space;
    position: relative;
    width: 90%;
    text-align: center;
    
}
/*slides*/

.slider {
    border-radius: 20px 20px 20px 20px ;
    align-items: center;
	text-align: center;
    width: 500px ;
    height: 400px center ;
	border: solid  ;
    border-color: rgb(12, 12, 12);
    padding: 10px 0px 10px 0px;
    margin: auto;
    }
    .slider textarea{
        border-color: rgb(12, 12, 12);
    }
